<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">
  
  <!-- dbscan -->
  
  <servlet>
    <servlet-name>dbscan</servlet-name>
    <servlet-class>fr.icam.elki.clustering.DBScanElkiClustering</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbscan</servlet-name>
    <url-pattern>/dbscan</url-pattern>
  </servlet-mapping>
  
  <!-- kmeans -->
  
  <servlet>
    <servlet-name>kmeans</servlet-name>
    <servlet-class>fr.icam.elki.clustering.KMeansElkiClustering</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kmeans</servlet-name>
    <url-pattern>/kmeans</url-pattern>
  </servlet-mapping>
  
  <!-- em -->
  
  <servlet>
    <servlet-name>em</servlet-name>
    <servlet-class>fr.icam.elki.clustering.EMElkiClustering</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>em</servlet-name>
    <url-pattern>/em</url-pattern>
  </servlet-mapping>
  
  <!-- slink -->
  
  <servlet>
    <servlet-name>slink</servlet-name>
    <servlet-class>fr.icam.elki.clustering.SLinkElkiClustering</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>slink</servlet-name>
    <url-pattern>/slink</url-pattern>
  </servlet-mapping>

</web-app>