<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>fr.icam.elki.distances.ElkiDistanceManager</listener-class>
  </listener>
  
  <listener>
    <listener-class>fr.icam.elki.configurations.ElkiConfigurationManager</listener-class>
  </listener>
    
  <filter>
    <filter-name>elki-identifier-filter</filter-name>
    <filter-class>fr.icam.elki.configurations.ElkiIdentifierFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>elki-identifier-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- distances -->
    
  <servlet>
    <servlet-name>distances</servlet-name>
    <servlet-class>fr.icam.elki.distances.ElkiDistanceProvider</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>distances</servlet-name>
    <url-pattern>/distances</url-pattern>
  </servlet-mapping>
  
  <!-- dbscan -->
  
  <servlet>
    <servlet-name>dbscan</servlet-name>
    <servlet-class>fr.icam.elki.clustering.DBScanElkiClustering</servlet-class>
    <init-param>
      <param-name>distance</param-name>
      <param-value>euclidean</param-value>
    </init-param>
    <init-param>
      <param-name>epsilon</param-name>
      <param-value>0.8</param-value>
    </init-param>
    <init-param>
      <param-name>size</param-name>
      <param-value>15</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbscan</servlet-name>
    <url-pattern>/dbscan/*</url-pattern>
  </servlet-mapping>
  
  <!-- kmeans -->
  
  <servlet>
    <servlet-name>kmeans</servlet-name>
    <servlet-class>fr.icam.elki.clustering.KMeansElkiClustering</servlet-class>
    <init-param>
      <param-name>distance</param-name>
      <param-value>manhattan</param-value>
    </init-param>
    <init-param>
      <param-name>length</param-name>
      <param-value>7</param-value>
    </init-param>
    <init-param>
      <param-name>limit</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>kmeans</servlet-name>
    <url-pattern>/kmeans/*</url-pattern>
  </servlet-mapping>
  
  <!-- em -->
  
  <servlet>
    <servlet-name>em</servlet-name>
    <servlet-class>fr.icam.elki.clustering.EMElkiClustering</servlet-class>
    <init-param>
      <param-name>length</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>delta</param-name>
      <param-value>5.0</param-value>
    </init-param>
    <init-param>
      <param-name>limit</param-name>
      <param-value>0</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>em</servlet-name>
    <url-pattern>/em/*</url-pattern>
  </servlet-mapping>
  
  <!-- slink -->
  
  <servlet>
    <servlet-name>slink</servlet-name>
    <servlet-class>fr.icam.elki.clustering.SLinkElkiClustering</servlet-class>
    <init-param>
      <param-name>distance</param-name>
      <param-value>minimum</param-value>
    </init-param>
    <init-param>
      <param-name>size</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>slink</servlet-name>
    <url-pattern>/slink/*</url-pattern>
  </servlet-mapping>
    
  <!-- mesaure platform -->
  <servlet>
    <servlet-name>platform</servlet-name>
    <servlet-class>fr.icam.elki.platform.MeasurePlatformConnection</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
    
  <!-- processing -->
  <servlet>
    <servlet-name>processing</servlet-name>
    <servlet-class>fr.icam.elki.processing.ElkiProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processing</servlet-name>
    <url-pattern>/results/*</url-pattern>
  </servlet-mapping>
  
  <!-- selection -->
  
  <servlet>
    <servlet-name>measure-list</servlet-name>
    <servlet-class>fr.icam.elki.measures.Lister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-list</servlet-name>
    <url-pattern>/measures/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measure-select</servlet-name>
    <servlet-class>fr.icam.elki.measures.Select</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-select</servlet-name>
    <url-pattern>/measures/select</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dbscan-select</servlet-name>
    <servlet-class>fr.icam.elki.configurations.DBScanElkiSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbscan-select</servlet-name>
    <url-pattern>/dbscan/select</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>kmeans-select</servlet-name>
    <servlet-class>fr.icam.elki.configurations.KMeansElkiSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kmeans-select</servlet-name>
    <url-pattern>/kmeans/select</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>em-select</servlet-name>
    <servlet-class>fr.icam.elki.configurations.EMElkiSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>em-select</servlet-name>
    <url-pattern>/em/select</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>slink-select</servlet-name>
    <servlet-class>fr.icam.elki.configurations.SLinkElkiSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>slink-select</servlet-name>
    <url-pattern>/slink/select</url-pattern>
  </servlet-mapping>

</web-app>