<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>fr.icam.elki.distances.ElkiDistanceManager</listener-class>
  </listener>
  
  <listener>
    <listener-class>fr.icam.elki.identifiers.ElkiIdentifierManager</listener-class>
  </listener>
    
  <filter>
    <filter-name>elki-identifier-filter</filter-name>
    <filter-class>fr.icam.elki.identifiers.ElkiIdentifierFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>elki-identifier-filter</filter-name>
    <url-pattern>/dbscan/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>elki-identifier-filter</filter-name>
    <url-pattern>/kmeans/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>elki-identifier-filter</filter-name>
    <url-pattern>/em/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>elki-identifier-filter</filter-name>
    <url-pattern>/slink/*</url-pattern>
  </filter-mapping>
    
  <!-- mesaure platform -->
  <servlet>
    <servlet-name>measure</servlet-name>
    <servlet-class>fr.icam.elki.measure.MeasurePlatformConnection</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- distances -->
    
  <servlet>
    <servlet-name>distances</servlet-name>
    <servlet-class>fr.icam.elki.distances.ElkiDistanceProvider</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>distances</servlet-name>
    <url-pattern>/distances</url-pattern>
  </servlet-mapping>
  
  <!-- dbscan -->
  
  <servlet>
    <servlet-name>dbscan</servlet-name>
    <servlet-class>fr.icam.elki.clustering.DBScanElkiClustering</servlet-class>
    <init-param>
      <param-name>distance</param-name>
      <param-value>squared-euclidean</param-value>
    </init-param>
    <init-param>
      <param-name>epsilon</param-name>
      <param-value>1.0</param-value>
    </init-param>
    <init-param>
      <param-name>size</param-name>
      <param-value>10</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbscan</servlet-name>
    <url-pattern>/dbscan/*</url-pattern>
  </servlet-mapping>
  
  <!-- kmeans -->
  
  <servlet>
    <servlet-name>kmeans</servlet-name>
    <servlet-class>fr.icam.elki.clustering.KMeansElkiClustering</servlet-class>
    <init-param>
      <param-name>distance</param-name>
      <param-value>squared-euclidean</param-value>
    </init-param>
    <init-param>
      <param-name>length</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>limit</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>kmeans</servlet-name>
    <url-pattern>/kmeans/*</url-pattern>
  </servlet-mapping>
  
  <!-- em -->
  
  <servlet>
    <servlet-name>em</servlet-name>
    <servlet-class>fr.icam.elki.clustering.EMElkiClustering</servlet-class>
    <init-param>
      <param-name>length</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>delta</param-name>
      <param-value>1.0</param-value>
    </init-param>
    <init-param>
      <param-name>limit</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>em</servlet-name>
    <url-pattern>/em/*</url-pattern>
  </servlet-mapping>
  
  <!-- slink -->
  
  <servlet>
    <servlet-name>slink</servlet-name>
    <servlet-class>fr.icam.elki.clustering.SLinkElkiClustering</servlet-class>
    <init-param>
      <param-name>distance</param-name>
      <param-value>squared-euclidean</param-value>
    </init-param>
    <init-param>
      <param-name>size</param-name>
      <param-value>10</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>slink</servlet-name>
    <url-pattern>/slink/*</url-pattern>
  </servlet-mapping>

</web-app>